<launch>
    <!--Initialize Dbot motor drivers, set async, set vel profile, set motor accel and decel-->
    <node name="TestDbotMovement" pkg="d-bot-m2m-movement" type="TestDbotMovement.py" output="screen"/> 
    <!--Init joy_node which enables /joy topic and messages-->
    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/> 
    rosrun joy joy_node
    <!--If joystick is connected to NUC, send translated /joy topics' messages to /cmd vel-->
    <node name="Joy" pkg="d-bot-m2m-movement" type="Joy.py" output="screen"/>
    <!--Launches the Velodyne (Lidar) nodes etc.-->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <!--Add communication node/nodes below-->

    <!--Launches the localization and publishes /odom messages to same named topic.-->
    <!--Requires the correct map to be loaded to: hdl_localization/data-->
    <!--Map names needs to be: map.pcd-->
    <include file="$(find hdl_localization)/launch/hdl_localization.launch"/>
  <node name="task_manager" pkg="d_bot_m2m_task_executor" type="task_manager.py">
    <param name="publish_rate" value="1.0" />
  </node>
  <node name="navigation" pkg="d_bot_m2m_navigation" type="navigation.py">
    <param name="publish_rate" value="1.0" />
  </node>
    <node name="beacon_communication" pkg="d_bot_m2m_communication" type="beacon_communication.py">
    <param name="publish_rate" value="16.0" />
  </node>
  <node name="elevator_communication" pkg="d_bot_m2m_communication" type="elevator_communication.py">
    <param name="publish_rate" value="1" />
  </node>
    <node name="crane_communication" pkg="d_bot_m2m_communication" type="crane_communication.py">
    <param name="publish_rate" value="1" />
  </node>
</launch>
